# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IntelliJ
.idea/

2020_Task6
RSSchool 2020 Task 6.pdf
RsSchoolTask2.6/RsSchoolTask2.6.xcodeproj/project.xcworkspace/xcuserdata/alexk.xcuserdatad/UserInterfaceState.xcuserstate